.browse-design {
    width: 40rem;
    height: 40rem;
    padding: 0.5vh 0.5vw;
    margin: 1%;
    display: inline-block;
    border: 1px black solid;
    border-radius: 10px;
    background-color: rgb(230, 230, 230);
    
}

.browse-design h2 {
    text-align: center;
    background-color: rgb(165, 160, 160);
    padding: 0.5rem;
    border-radius: 5px;
}

.browse-design .container {
    display: flex;
    justify-content: space-between;
}

.browse-design img {
    width: auto;
    max-width: 70%;
    height: 20rem;
    display: inline-block;
    top: 0;
    margin: 0 auto;
    border-radius: 5px
}

.browse-design ul {
    right: 0;
    display: inline-block;
    border: 1px solid darkgray;
    border-radius: 10px;
    list-style-type: none;
    padding: 5px;
    width: 25%;
    margin-left: 1vw;
    background-color: whitesmoke;
    height: 20rem;
}

.browse-design .btn {
    align-content: center;
    padding: 4px;
    border-radius: 4px;
    border: 1px solid blue;
    background-color: lightblue;
    margin: 5px;
    width: 6rem;
    color: black;
    height: 2rem;
}

.browse-design .btn:hover {
    background-color: white;
    color: black;
}

.browse-design:hover{
    background-color: white;
}

.browse-design .bottom {
    background-color: whitesmoke;
    border-radius: 5px;
    border: 1px solid darkgray;
    height: 14rem;
    padding: 5px;
}

.creator {
    width: 100%;
    font-weight: bold;;
    
}

.btn.edit {
    align-content: center;
    background-color: whitesmoke;
    border: none;
    color: black;
    right: 5rem;
    margin-left: 1rem;
}

.btn.delete {
    align-content: center;
    background-color: whitesmoke;
    border: none;
    color: black;
    right: 0;
    width: 8rem;
}

.btn.delete-confirm {
    align-content: center;
    background-color: whitesmoke;
    border: none;
    color: black;
    right: 0;
    width: 8rem;
}