/* Sidebar */
.App-sidebar {
    width: 11rem;
    background-color: rgb(214, 200, 200);
    height: 100%;
    align-content: center;
    padding: 0.5rem;
    border-right: 1px solid black;
    position: fixed;
    display: inline-block;
    margin-top: 3rem;
    left: 0;
    margin-bottom: 2.5rem;
}

.App-sidebar h3 {
    text-align: center;
}

.App-sidebar input {
    width: 10rem;
}