/* Navbar */
.App-navbar {
    height: 3rem;
    width: 100%;
    background-color: #7daa43;
    align-items: center;
    padding-left: 0rem;
    display: flex;
    position: fixed;
    top: 0;
    justify-content: space-between;

}

.App-navbar button {
    margin-right: 0rem;
    display: inline-block;
    margin-left: 0rem;
}

.left {
    align-items: center;
}

.left img {
    height: 140%;
    width: 140%;
}

.App-navbar h1 {
    display: inline-block;
    margin-left: 9rem;
}

.App-navbar ul {
    text-align: right;
    margin: 0.5rem 1.5rem 0.5rem 0rem;
}

.App-navbar li {
     font-size: 16px;
     font-weight: bold;
     display: inline-block;
     margin: 0 1rem;
}

.sidebar {
    background: none;
    border: none;
    font-weight: bold;
    font-size: 140%;
}