* {
    margin: 0;
    padding: 0;
}

.App {
    max-width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    background-color: rgb(207, 230, 226);
    display: flex;
}

/* Content - (.App-sidebar + .container) */
.App-Content {
    margin: 3rem 0 2rem 11rem;  
    /* display: inline-block; */
    width: 100vw;
}

.App-Content h1 {
    text-align: center;
    padding: 0.5rem;
}

/* Body */
.body {
    margin: 0 1rem;
    display: flex;
    justify-content: center;
    width: auto;

}

.browse {
    display: inline-block;

    margin: 0;
    width: 100%;
    padding: 0 auto;
}

.login-form, .register-form {
    display: flex;
    justify-content: center;
}

#login-form, #register-form {
    width: 50vw;
}

#login-form button, #register-form button {
    align-content: center;
    padding: 4px;
    border-radius: 4px;
    border: 1px solid blue;
    background-color: lightblue;
    margin: 5px;
    width: 6rem;
    color: black;
    height: 2rem;
}

#login-form button:hover, #register-form button:hover {
    background-color: white;
    color: black;
}



/* Form */
form label {
    background: #607588;
    color: white;
    padding: 12px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    display: block;
}

input[type=text],
input[type=number],
input[type=password],
select,
textarea {
    width: 100%;
    display: block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    padding: 12px 12px 12px 12px;
    border-radius: 0 4px 4px 4px;
    margin: 8px 0 2em;
}

/* .design-details img{
    width: 20%;
}

.design-details {
    border: 1px solid black;
    display: inline-block;
    justify-content: center;
} */

.create-form, .edit-form {
    width: 50vw;
}



.create-form button, .edit-form button {
    align-content: center;
    padding: 4px;
    border-radius: 4px;
    border: 1px solid blue;
    background-color: lightblue;
    margin: 5px;
    width: 6rem;
    color: black;
    height: 2rem;
}

.create-form button:hover, .edit-form button:hover {
    background-color: white;
    color: black;
}

