* {
    margin: 0;
    padding: 0;
}

.App {
    max-width: 100%;
    margin: 0 auto;
    display: flex;
}


/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

/* Header */
.App-header {
    height: 3rem;
    width: 100%;
    background-color: #74a5c5;
    align-items: center;
    padding-left: 2rem;
    display: flex;
    position: fixed;
    top: 0;
    justify-content: space-between;

}

.App-header ul {
    text-align: right;
    margin-right: 2rem;
}

.App-header li {
     font-size: 16px;
     font-weight: bold;
     display: inline-block;
     margin: 0 1rem;
}

/* Sidebar */
.App-sidebar {
    width: 10rem;
    background-color: whitesmoke;
    height: 100%;
    align-content: center;
    padding: 0.5rem;
    border-right: 1px solid black;
    position: fixed;
    display: inline-block;
    margin-top: 3rem;
    left: 0;
    margin-bottom: 2.5rem;
}

.App-sidebar h3 {
    text-align: center;
}

.App-sidebar input {
    width: 9rem;
}

/* Content */
.Content {
    margin-top: 8%;
    /* border: 1px solid purple; */
    margin-bottom: 8vh;
    display: inline-block;
    margin-right: 2rem;
    margin-left: 12rem;
    width: 100%;
}

.container h1 {
    text-align: center;
    /* margin-bottom: 2rem; */
}

/* Footer */
.App-footer {
    height: 4vh;
    width: 100%;
    background-color: #437ba0;
    align-items: center;
    padding-left: 2rem;
    display: flex;
    color: #e7e7e7;
    bottom: 0;
    position: fixed;
}

/* Form */
form label {
    background: #607588;
    color: white;
    padding: 12px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    display: block;
}

input[type=text],
input[type=number],
input[type=password],
select,
textarea {
    width: 100%;
    display: block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    padding: 12px 20px 12px 12px;
    border-radius: 0 4px 4px 4px;
    margin: 8px 0 2em;
}

.browse-design {
    width: 40%;
    height: 15rem;
    padding: 10px 15px;
    margin: 2%;
    display: inline-block;
    border: 1px black solid;
    border-radius: 10px;
    
}

.browse-design h3 {
    text-align: center;
}


.browse-design img {
    width: 70%;
    height: auto;
    display: inline-block;
    top: 0;
}

.browse-design ul {
    display: inline-block;
    border: 1px solid darkgray;
    border-radius: 10px;
    list-style-type: none;
    padding: 5px;
}

.browse-design .btn {
    align-content: center;
}
